<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit_bondsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,685},{640,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,106}}</string>
                <key>sourceSize</key>
                <string>{640,106}</string>
            </dict>
            <key>unit_chara_label_job.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,129},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
            <key>unit_charastand_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,487},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,168}}</string>
                <key>sourceSize</key>
                <string>{160,168}</string>
            </dict>
            <key>unit_charastand_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,279},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_small_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,716},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_charastand_small_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,725},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>unit_eqpossible_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,793},{640,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,58}}</string>
                <key>sourceSize</key>
                <string>{640,58}</string>
            </dict>
            <key>unit_equip_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,339},{170,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>unit_equip_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,413},{170,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>unit_evo_statusframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,449},{168,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,197}}</string>
                <key>sourceSize</key>
                <string>{168,197}</string>
            </dict>
            <key>unit_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,25},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_exp_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,31},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_exp_bar_increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,37},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{354,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,10}}</string>
                <key>sourceSize</key>
                <string>{354,10}</string>
            </dict>
            <key>unit_exp_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,13},{354,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,10}}</string>
                <key>sourceSize</key>
                <string>{354,10}</string>
            </dict>
            <key>unit_expbonus_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,43},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_expbonus_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,49},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_icon_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,648},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>unit_icon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,700},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>unit_limit_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,55},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_limit_exp_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,61},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>unit_minibutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,67},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>unit_minibutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,155},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>unit_partybg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,911},{640,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,16}}</string>
                <key>sourceSize</key>
                <string>{640,16}</string>
            </dict>
            <key>unit_partybg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,853},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>unit_partyname_edit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,255},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_partyname_edit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,297},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>unit_powerup_subtitlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,67},{240,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>unit_resist_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,217},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_resist_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,217},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_resist_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,752},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unit_status_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,648},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>unit_status_button_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,119},{234,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,66}}</string>
                <key>sourceSize</key>
                <string>{234,66}</string>
            </dict>
            <key>unit_status_button_big_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,187},{234,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,66}}</string>
                <key>sourceSize</key>
                <string>{234,66}</string>
            </dict>
            <key>unit_status_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,657},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>unit_statusbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{640,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,332}}</string>
                <key>sourceSize</key>
                <string>{640,332}</string>
            </dict>
            <key>unit_top_submenubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,348}}</string>
                <key>sourceSize</key>
                <string>{640,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_ext2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59bf34d3a64dbb31eb278375b14d3370:a69143ac0777b2747dd41d10ca3961cf:d03e13971512f089ff34bd39032d4add$</string>
            <key>textureFileName</key>
            <string>unit_ext2.png</string>
        </dict>
    </dict>
</plist>
